<a href="https://colab.research.google.com/github/ameerpasha121/BDA_Python_Exercise/blob/main/ICP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
input_str = input("Enter a string: ")
char_list = list(input_str)

del char_list[-1]     # deletes 'n'
del char_list[-1]    # deletes 'o'

char_list.reverse()

result = ''.join(char_list)
print(result)

Enter a string: python
htyp

In [55]:
val = 'python'
new_val = val[-3:: -1]
new_val

'htyp'

In [69]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Perform arithmetic operations
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)

# Check division by zero
if num2 != 0:
    print("Division:", num1 / num2)
else:
    print("Division: Cannot divide by zero")

Enter first number: 2
Enter second number: 3
Addition: 5.0
Subtraction: -1.0
Multiplication: 6.0
Division: 0.6666666666666666

In [71]:
str = input("Enter a sentence: ")
str1 = str.replace("python", "pythons")
print("Modified sentence:", str1)

Enter a sentence: I love playing with python
Modified sentence: I love playing with pythons

In [72]:
score = float(input("Enter your class score: "))

# Check and print grade
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your class score: 96
Grade: A

In [73]:
x = [23, 'Python', 23.98]
print(x)

types_list = [type(i) for i in x]

print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [74]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# 1. Find the length of the set IT_companies
print("Length of IT_companies:", len(IT_companies))

Length of IT_companies: 7

In [75]:
# 2. Add 'Twitter' to IT_companies
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

After adding Twitter: {'Twitter', 'Microsoft', 'Google', 'Oracle', 'Apple', 'Amazon', 'Facebook', 'IBM'}

In [76]:
# 3. Insert multiple IT companies at once
IT_companies.update(['LinkedIn', 'TCS', 'Infosys'])
print("After adding multiple companies:", IT_companies)

After adding multiple companies: {'Oracle', 'Infosys', 'Facebook', 'Microsoft', 'Apple', 'LinkedIn', 'IBM', 'Twitter', 'Google', 'TCS', 'Amazon'}

In [77]:
# 4. Remove one company (e.g., 'IBM')
IT_companies.remove('IBM')
print("After removing IBM:", IT_companies)

After removing IBM: {'Oracle', 'Infosys', 'Facebook', 'Microsoft', 'Apple', 'LinkedIn', 'Twitter', 'Google', 'TCS', 'Amazon'}

In [78]:
# 5. Difference between remove and discard
# remove() raises KeyError if item not found, discard() does not.
IT_companies.discard('meta')  # No error

In [79]:
IT_companies.remove('meta') #It will be throw an error

KeyError: 'meta'

In [80]:
# 6. Join A and B (union)
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print("A union B:", A.union(B))

A union B: {19, 20, 22, 24, 25, 26, 27, 28}

In [81]:
# 7. Find A intersection B
print("A intersection B:", A.intersection(B))

A intersection B: {19, 20, 22, 24, 25, 26}

In [20]:
# 8. Is A subset of B?
print("Is A subset of B?", A.issubset(B))

Is A subset of B? True

In [82]:
# 9. Are A and B disjoint sets?
print("Are A and B disjoint?", A.isdisjoint(B))

Are A and B disjoint? False

In [83]:
# 10. Join A with B and B with A
print("A | B:", A | B)
print("B | A:", B | A)

A | B: {19, 20, 22, 24, 25, 26, 27, 28}
B | A: {19, 20, 22, 24, 25, 26, 27, 28}

In [84]:
# 11. Symmetric difference between A and B
print("Symmetric difference:", A.symmetric_difference(B))

Symmetric difference: {27, 28}

In [85]:
# 12. Delete sets completely
del A
del B

In [86]:
# 13. Convert ages to a set and compare lengths
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print("Original age list length:", len(age))
print("Age set length:", len(age_set))

Original age list length: 8
Age set length: 5