In [13]:
class Counter:
    count = 0

    def __init__(self):  # Fixed constructor
        self._count = 0

    def increment(self):
       self._count += 1
       Counter.count += 1

    def get_counts(self):
       return f"Instance count: {self._count}, Class count: {Counter.count}"

a = Counter()
b = Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())
print(b.get_counts())

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

In [14]:
def sum_all(*args):
  return sum(args)

print("Sum of 1,2,3 is:", sum_all(1,2,3))
print("Sum of 4,5,6,7 is:", sum_all(4,5,6,7))

Sum of 1,2,3 is: 6
Sum of 4,5,6,7 is: 22

In [15]:
def first_word(a):
    sorted_list = sorted(a)  # Sorts list alphabetically
    return sorted_list[0]

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))

Bartholomew

In [16]:
class Employee:
    employee_count = 0         # Class variable to count employees
    total_salary = 0           # Class variable to sum salaries

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department

        # Update class-level counters
        Employee.employee_count += 1
        Employee.total_salary += salary

    @classmethod
    def average_salary(cls):
        if cls.employee_count == 0:
            return 0
        return cls.total_salary / cls.employee_count

    def display_info(self):
        print(f"Name: {self.name}, Family: {self.family}, Salary: {self.salary}, Department: {self.department}")

# Subclass
class Full_time_Employee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)

# Create Employee and Full time Employee instances
e1 = Employee("Ameer", "Shaik", 50000, "IT")
e2 = Full_time_Employee("Bob", "Johnson", 60000, "HR")
e3 = Full_time_Employee("Lalith", "Dabilpuram", 55000, "Finance")

# Display details each object details
e1.display_info()
e2.display_info()
e3.display_info()

print("\nTotal Employees:", Employee.employee_count)
print("Average Salary:", Employee.average_salary())

Name: Ameer, Family: Shaik, Salary: 50000, Department: IT
Name: Bob, Family: Johnson, Salary: 60000, Department: HR
Name: Lalith, Family: Dabilpuram, Salary: 55000, Department: Finance

Total Employees: 3
Average Salary: 55000.0